<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @charset "UTF-8";

        html {
            font-family: arial, helvetica, sans-serif;
            box-sizing: border-box;

            /* background-color: #dfdede; */
        }

        body {
            margin: 10px;
            font: 8pt "Times New Roman";
            line-height: 1.2;
            /* font-size: 11px; */
            /* background-color: #FAFAFA; */

        }

        @media print {
            .pagebreak {
                clear: both;
                page-break-after: always;
            }

            html,
            body {
                width: 210mm;
                height: 297mm;
            }

            .subpage {
                height: 275mm;
                line-height: 16px;
                background-color: white;
            }
        }

        td {
          padding: 1px 5px;
        }
        .title {
            /* display: flex;
            justify-content: center;
            align-items: center; */
            text-align: center;
        }

        table {

            border: 1px solid black;
            border-collapse: collapse;
            /* display: flex;
            justify-content: space-between; */
        }

        .flex-container {
          display: flex;
        }

        .float-right {
            text-align: right;
        }

        .p-15 {
            padding-left: 15px;
        }

        .p-30 {
            padding-left: 30px;
        }

        .p-40 {
            padding-left: 40px;
        }

        .border-top {
            border-top: 1px solid black
        }
        .title-lv1 {
          padding-left: 5px;
        }
        .title-lv2 {
          font-weight: bold;
          padding-left: 20px;
        }
        .title-lv3 {
          padding-left: 35px;
        }
        .title-lv4 {
          padding-left: 50px;
        }
    </style>
</head>

<body>
<a>NEW</a>
  <div class="flex-container" style="width: 100%; border-bottom: 1px solid black">
    <img src="https://www.vndirect.com.vn/cmsupload/beta/logo_VND2015-view.png" style="padding-right: 20px;" height="50px" alt="logo VNDIRECT" />
    <div>
        <b>CÔNG TY CỔ PHẦN CHỨNG KHOÁN VNDRIRECT</b>
        <p>Địa chỉ: Số 01 Nguyễn Thượng Hiền</p>
        <p>SĐT:02439724568-Fax:02439724600-website:https://www.vndirect.com.vn</p>
    </div>
  </div>
    <div class="title" style="margin-top: 10px;">

        <div style="font-size: 20px;">BÁO CÁO TÀI SẢN CỦA KHÁCH HÀNG</div>
        <div>Ngày thực hiện:#root.currentDate</div>
        <div>Ngày xem:#root.viewDate</div>
    </div>
    <table style="width: 20%; margin:  20px 0; border: 0;">
        <tr>
          <td>Khách hàng:</td>
          <td>#root.fullName</td>
        </tr>
        <tr>
          <td>#root.scopeText:</td>
          <td>#root.scopeValue</td>
        </tr>
    </table>
    <div class="flex-container" style="margin: 20px 0; gap: 16px;">
      <table style="flex: 1;">
        <tr>
          <td style="padding-left: 5px;">
              TỔNG TÀI SẢN
          </td>
          <td class="float-right">'#root.assetResp.totalAsset</td>
        </tr>
        <tr>
          <td style="padding-left: 5px;">TỔNG NỢ</td>
          <td class="float-right">'#root.assetResp.totalDebt</td>
        </tr>
        <tr>
          <td style="padding-left: 5px;">TÀI SẢN RÒNG</td>
          <td class="float-right">'#root.assetResp.netAssetValue</td>
        </tr>
      </table>
      <table style="flex: 1; height: fit-content;">
        <td style="padding-left: 5px;">
          TIỀN ĐƯỢC RÚT THEO SỨC MUA
        </td>
        <td class="float-right">#root.assetResp.availableWithdrawRtt
        </td>
        </tr>
        <tr>
          <td style="padding-left: 5px;">NỢ/TÀI SẢN
          </td>
          <td class="float-right">#root.assetResp.debtToAsset + '%'
          </td>
        </tr>
      </table>
    </div>
    <div class="flex-container" style="gap: 16px;">
      <table style="flex: 1">
        <tr class="header-table border-bottom">
            <td style="font-weight: bold; text-align: left; padding-left: 5px;">TÀI SẢN</td>
            <td style="font-weight: bold; text-align: right;">GIÁ TRỊ</td>
        </tr>
        <tr class="border-top">
            <td class="title-lv1">
                TIỀN
            </td>
            <td class="float-right">'#root.assetResp.cashAmt</td>
        </tr>
        <tr>                      
            <td class="p-15 title-lv2">Tiền sẵn sàng giao dịch</td> 
            <td class="float-right">'#root.assetResp.ciBalance</td>
        </tr>
        <tr>
          <td class="title-lv3">Số dư tiền tài khoản cơ sở</td>
          <td class="float-right text-lv3">#root.assetResp.otherCashOnHand</td>
        </tr>
        <tr>
          <td class="p-15 title-lv2">Tiền chờ về</td>
          <td class="float-right">#root.assetResp.ciReceiving</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền cổ tức chờ về</td>
          <td class="float-right text-lv3">#root.assetResp.cashDividend</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền bán chờ về chưa ứng</td>
          <td class="float-right text-lv3">#root.assetResp.otherCashOnHand</td>
        </tr>
        <tr>
          <td class="title-lv4">Tiền bán chứng khoán</td>
          <td class="float-right text-lv3">#root.assetResp.cashReceiving</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền chờ về trái phiếu</td>
          <td class="float-right text-lv3">#root.assetResp.bondReceivingAmt</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền ký quỹ phái sinh chờ rút</td>
          <td class="float-right text-lv3">#root.assetResp.waitToWithdrawDer</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền chờ về khác
          </td>
          <td class="float-right text-lv3">#root.assetResp.otherCiReceiving
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv2">Tiền phong tỏa</td>
          <td class="float-right">#root.assetResp.ciBlock</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền mua chờ khớp</td>
          <td class="float-right text-lv3">#root.assetResp.bunfillBuySecuredamt</td>
        </tr>
        <tr>
          <td class="title-lv3">Tiền phong tỏa khác</td>
          <td class="float-right text-lv3">#root.assetResp.otherBlockedAmt</td>
        </tr>
        <tr class="border-top">
          <td class="title-lv1">HEALTH - TÀI CHÍNH DỰ PHÒNG</td>
          <td class="float-right">#root.assetResp.health
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv2">Tích sản hưu trí
          </td>
          <td class="float-right">#root.assetResp.aumNmRa
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv2">Đầu tư tạo thu nhập cố định
          </td>
          <td class="float-right">#root.assetResp.consistentInvestment
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv3">Tiền chờ giao dịch
          </td>
          <td class="float-right text-lv3">#root.assetResp.tdAmt
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv4">Số dư tiền qua đêm
          </td>
          <td class="float-right text-lv3">#root.assetResp.overNightTdAmt
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv4">Số dư tiền khác
          </td>
          <td class="float-right text-lv3">#root.assetResp.periodTdAmt
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv3">Chứng chỉ quỹ mở - Quỹ trái phiếu
          </td>
          <td class="float-right text-lv3">#root.assetResp.oefBondFund
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv3">Trái phiếu
          </td>
          <td class="float-right text-lv3">#root.assetResp.bondValue
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv4">DBond
          </td>
          <td class="float-right text-lv3">#root.assetResp.dbondValue
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv4">Trái phiếu khác
          </td>
          <td class="float-right text-lv3">#root.assetResp.vbondValue
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv4">VBond
          </td>
          <td class="float-right text-lv3">#root.assetResp.otherBondValue
          </td>
        </tr>
        <tr class="border-top">
          <td class="title-lv1">WEALTH - ĐẦU TƯ TÍCH SẢN DÀI HẠN
          </td>
          <td class="float-right">#root.assetResp.wealth
          </td>
        </tr>
        <tr>
          <td class="title-lv2">Tích sản mục tiêu (Heo đất điện tử + Tích sản như ý)
          </td>
          <td class="float-right">#root.assetResp.lifeStageGoals
          </td>
        </tr>
        <tr>
          <td class="title-lv2">Single Stock Saving (SSS)
          </td>
          <td class="float-right">#root.assetResp.navSSS
          </td>
        </tr>
        <tr class="border-top">
          <td class="title-lv1">GROWTH - ĐẦU TƯ TĂNG TRƯỞNG VƯỢT TRỘI
          </td>
          <td class="float-right">#root.assetResp.growth
          </td>
        </tr>
        <tr>
          <td class="title-lv2">Chứng chỉ quỹ ETF
          </td>
          <td class="float-right">#root.assetResp.etf
          </td>
        </tr>
        <tr>
          <td class="title-lv2">Chứng khoán DStock
          </td>
          <td class="float-right">#root.assetResp.stockAmt
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv3">Danh mục cổ phiếu, CCQ đóng
          </td>
          <td class="float-right text-lv3">#root.assetResp.stockValue
          </td>
        </tr>
        <tr>
          <td class="p-15 title-lv3">Quyền chờ về
          </td>
          <td class="float-right text-lv3">#root.assetResp.receivingRight
          </td>
        </tr>
        <tr>
          <td class="title-lv2">Chứng quyền
          </td>
          <td class="float-right">#root.assetResp.coveredWarrantD
          </td>
        </tr>
      </table>




      <div class="flex-container" style="flex: 1; flex-direction: column;">
        <table style="height: fit-content;">
          <tr class="header-table border-bottom">
              <td style="font-weight: bold; text-align: left; padding-left: 5px;">NỢ</td>
              <td style="font-weight: bold; text-align: right;">GIÁ TRỊ</td>
          </tr>
          <tr class="border-top">
              <td class="title-lv1">
                NỢ DỰ KIẾN TĂNG CUỐI NGÀY
              </td>
              <td class="float-right">#root.assetResp.debtInDay</td>
          </tr>
          <tr class="border-top">
            <td class="title-lv1">
              VAY GIAO DỊCH DSTOCK
            </td>
            <td class="float-right">#root.assetResp.dstockDebt</td>
          </tr>
          <tr>
            <td class="p-15 title-lv2">Dư nợ gốc</td>
            <td class="float-right">#root.assetResp.totalDebtPrincipal</td>
          </tr>
          <tr>
            <td class="title-lv3">DMargin</td>
            <td class="float-right text-lv3">#root.assetResp.dmarginDebtAr</td>
          </tr>
          <tr>
            <td class="title-lv3">Smart T+</td>
            <td class="float-right text-lv3">#root.assetResp.smartTPlusDebtAr</td>
          </tr>
          <tr>
            <td class="title-lv3">T10</td>
            <td class="float-right text-lv3">#root.assetResp.t10DebtAr</td>
          </tr>
          <tr>
            <td class="title-lv3">T15</td>
            <td class="float-right text-lv3">#root.assetResp.t15DebtAr</td>
          </tr>
          <tr>
            <td class="title-lv3">Khác</td>
            <td class="float-right text-lv3">#root.assetResp.otherDebtAr</td>
          </tr>
          <tr>
            <td class="p-15 title-lv2">Lãi</td>
            <td class="float-right">#root.assetResp.totalDebtPrincipal</td>
          </tr>
          <tr>
            <td class="title-lv3">DMargin</td>
            <td class="float-right text-lv3">#root.assetResp.dmarginInterest</td>
          </tr>
          <tr>
            <td class="title-lv3">Smart T+</td>
            <td class="float-right text-lv3">#root.assetResp.smartTPlusDebtInterest</td>
          </tr>
          <tr>
            <td class="title-lv3">T10</td>
            <td class="float-right text-lv3">#root.assetResp.t10DebtInterest</td>
          </tr>
          <tr>
            <td class="title-lv3">T15</td>
            <td class="float-right text-lv3">#root.assetResp.t15DebtInterest</td>
          </tr>
          <tr>
            <td class="title-lv3">Khác</td>
            <td class="float-right text-lv3">#root.assetResp.otherDebtInterest</td>
          </tr>
          <tr class="border-top">
            <td class="title-lv1">
              PHÍ
            </td>
            <td class="float-right">#root.assetResp.totalFee</td>
          </tr>
          <tr>
            <td class="p-15 title-lv2">Phí lưu ký phải trả</td>
            <td class="float-right">#root.assetResp.debtDepositoryFee</td>
          </tr>
        </table>
        <table class="allocation" style="margin-top: 20px;">
          <thead>
            <tr>
              <th style="text-align: center" colspan="2">Phân bổ tài sản</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-top">
              <td>Tiền</td>
              <td class="float-right">#root.assetResp.cashAmtPercent + '%'</td>
            </tr>
            <tr>
              <td>Growth</td>
              <td class="float-right">#root.assetResp.growthPercent + '%'</td>
            </tr>
            <tr>
              <td>Wealth</td>
              <td class="float-right">#root.assetResp.growthPercent + '%'</td>
            </tr>
            <tr>
              <td>Health</td>
              <td class="float-right">#root.assetResp.healthPercent + '%'</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="title" style="margin-top: 30px;">
      <p>Trân trọng cảm ơn quý khách đã sử dụng dịch vụ của VNDIRECT</p>
      <p>********************</p>
      <p>Ghi chú: Báo cáo này không thay cho các cam kết của VNDIRECT về các nghĩa vụ của khách hàng được xác nhận với
          bên thứ ba</p>

      <div class="flex-container" style="justify-content: space-around; margin-top: 20px;">
          <b><i>
                  Người duyệt
              </i></b>
          <b><i>
                  <div>Ngày ... tháng ... năm</div>
                  Người lập
              </i></b>
      </div>
  </div>
</body>

</html>